name: 程序部署

on:
  push:
    branches:
      - master

jobs:
  build-push:
    if: contains(github.event.head_commit.message, '自动更新') || contains(github.event.head_commit.message, 'exe')
    environment: prod
    runs-on: ubuntu-latest
    steps:
          # 获取git commit消息并去除"自动更新"
      - name: Get commit message
        id: get_commit_message
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          CLEANED_MESSAGE="${COMMIT_MESSAGE//自动更新/}"
          echo "cleaned_message=$CLEANED_MESSAGE" >> $GITHUB_ENV
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.4'
      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies (with fixes)
        run: pnpm install

      - name: Build project
        run: pnpm build
      - name: Push To UpgradeLink
        id: push-upgradelink
        uses: wodepig/upgradelink-upload-xxdl@17f14ae85d7d19974034b89c22e812c5bee18cd4
        with:
          upgradelink_username: ${{ vars.UPGRADELINK_USERNAME }}
          upgradelink_pwd: ${{secrets.UPGRADELINK_PWD}}
          upgradelink_type: ${{ vars.UPGRADELINK_TYPE }}
          upgradelink_key: ${{secrets.UPGRADELINK_KEY}}
          prompt_upgrade_content: ${{ env.cleaned_message }}
          dist_url: .output
          yunma_token: ${{ vars.YUNMA_TOKEN }}
          auto_push: true
